<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>job</title>
  </head>
  <body>
    <div align=right>
    <font color="white">ようこそ、さん</font>
    <a href="top">(TOPに戻る)</a>
    </div>
<h3>案件詳細ページです。</h3>

<form method=get action="/job?id=<%= @jobs.id %>">
<table>
<tr>
<td colspan="2"align=right><input type="submit" value="応募する">
</td>
</tr>
</table>
</form>

  </body>
</html>
