<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>login</title>
  </head>

  <body>
    <div align=right>
    <font color="white">ようこそ、さん</font>
    <a href="top">(TOPに戻る)</a>
  </div>
    <div>
   <h1><font color="#382b33" size="7">リジョブサイト</font><h1>
 <h1>ログイン</h1>



 <section class="box-pt1 p_50">
     <form class="login_form" id="new_user_frontend_user" action="login_id" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="Yto0lfpYpAAXsP9QUOmcNibByVfR/CXqWyl5+9gqzxr+SmfX4GhavgmIlhBUgm73I5mxfjDjNoKHMjMF3QfKqQ==">
         <div class="row row-mg mb_10">
           <div class="cols_5">
             <input autofocus="autofocus" class="w-block" placeholder="ユーザー名" type="text" value="" name="name" id="user_frontend_user_email">
           </div>
           <div class="cols_5">
             <input autocomplete="off" class="w-block" placeholder="パスワード" type="password" name="pass" id="user_frontend_user_password">
           </div>
           <div class="cols_2">
             <input type="submit" name="commit" value="ログイン" class="btn btn--pt2 w-block">
           </div>
         </div>
         </p>
 </form>  </section>


IDを持ってない方は<a href="newregist">(こちら)<a>から新規登録！！！

  </body>
</html>
