<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>login</title>
  </head>

  <body>
    <div align=right>
    <font color="white">ようこそ、さん</font>
    <a href="top">(TOPに戻る)</a>
  </div>
    <div>
   <h1><font color="#382b33" size="7">リジョブサイト</font><h1>
 <h1>ログイン</h1>


 <form method=get action="/login_id">
 <table>
 <tr>
 <td>ユーザー名</td>
 <td><input type=text name="name" size="16"></td>
 </tr>
 <tr>
 <td>パスワード</td>
 <td><input type=password name="pass" size="16"></td>
 </tr>
 <tr>
 <td colspan="2"align=right><input type="submit" value="ログイン">
 </td>
 </tr>
 </table>
 </form>
 <br>

IDを持ってない方は<a href="newregist">(こちら)<a>から新規登録！！！

 </table>
 </form>

  </body>
</html>
