<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
    #header
    {
      width:1100px;
       height:74px;
       background-color:pink;

    }
    </style>
  </head>
  <body>
  <div color="white" id="header"><h1>新規登録</h1></div><br>

  <form method=post action="?action=regist">
    <table>
      <tr>
      <td>・名前</td>
      <td><input type=text name="name" size="16"></td>
      </tr>
      <tr>
      <td>・カナ</td>
      <td><input type=text name="name_kana" size="16"></td>
      </tr>
      <tr>
      <td>・年齢</td>
      <td><input type=text name="age" size="16">歳</td>
      </tr>
      <tr>
      <td>・性別</td>
      <td><input type=radio name="sex" value="男性">男性</td>
      <td><input type=radio name="sex" value="女性">女性</td>
      </tr>
     </tr>
     <tr>
     <td>・パスワード</td>
     <td><input type=password name="pass" size="16"></td>
     </tr>
     <tr>
     <td>・パスワード（確認用）</td>
     <td><input type=password name="pass2" size="16"></td>
     </tr>
     <tr>
     <td colspan="2" align=right><input type="submit" value="新規登録"></td>
     </tr>
     </div>
     </table>
   </form>


  </body>
</html>
